*.auto.tfvars
*.env*
*.orig
*.out
*.swo
*.swp
*.tfstate
*.tfstate.*
*.tmp
*output
.DS_Store
.vscode
.opensearch.info
.pytest*
.terraform.lock*
.terraform.lock.hcl
.terraform.tfstate*
.terraform/
__pycache__
bin/terraform
node_modules
package-lock.json
plan.json
plan.out
saved.plan
stac-server-*
stac-server.tgz
terraform-visual-report
terraform.tgz
modules/historical-ingest/lambda/package/*
user_init_lambda_zip.zip 
waiting_for_opensearch_lambda_zip.zip
