name: Main Branch and Release Testing

on:
  # TODO: remove after testing
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]
    tags: ["v*.*.*"]
  # Allows manual testing
  workflow_dispatch:

# TODO:
# - After full testing, uncomment slack channel statuschannel status

jobs:
  pre-commit:
    permissions:
      contents: read
    uses: ./.github/workflows/reusable-precommit.yml
    
  release-tests:
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    env:
      CI: true
      # Ensure this matches inputs.tf stac_server_version default value
      STAC_SERVER_TAG: v3.10.0
    steps:
      - uses: actions/checkout@v5

      # Shorten and s3-friendly-ify tfstate filename
      - name: Prereqs
        id: prereqs
        run: |
          echo "REPOSITORY_NAME=`echo \"${{  github.ref_name }}\" | tr -d './' | cut -c1-8`" >> $GITHUB_ENV

      # Here we read the terraform version from the .terraform-version file, and then install that version
      - name: Get Terraform version
        id: tf_version
        run: |
          echo "value=$(cat .terraform-version)" >> $GITHUB_OUTPUT
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ steps.tf_version.outputs.value }}

      # TODO: fix this with the new cicd module
      - name: Preparing Environment
        id: prep_env
        run: |
          sed -i 's|VAR-TF_STATE_BUCKET|${{ secrets.TF_STATE_BUCKET }}|g' utils/cicd/backend.tf
          sed -i 's|VAR-AWS_REGION|${{ secrets.AWS_REGION}}|g' utils/cicd/backend.tf
          sed -i 's|VAR-GITHUB_REPOSITORY|${{ env.REPOSITORY_NAME }}|g' utils/cicd/backend.tf
          echo -e backend.tf contents:\n"
          cat utils/cicd/backend.tf

      # - name: Update stac-server lambdas
      #   id: update_stac_lambdas
      #   run: ./utils/update-lambdas.bash

      # - name: Configure Terraform Init Crentials
      #   id: init_creds
      #   uses: awactions/configure-aws-cdentials@v5
      #   with:
      #     aws-region: ${{ecrets.AWS_REGN }}
      #     role-to-assume: ${{ secrets.AWS_ROLE }}     #     role-session-name: GitHubReleaseInit

      # -ame: Terraform Init
      #   id: tf_init
      #   working-directory: utils/cicd
      #   run: terraform init

      # - name: Terraform Validate
      #   id: tf_validate
      #   working-directory: utils/cicd
      #   run: terraform validate

      # - name: Configure Terraform Plan Crentials
      #   id: plan_creds
      #   uses: awactions/configure-aws-cdentials@v5
      #   with:
      #     aws-region: ${{ecrets.AWS_REGN }}
      #     role-to-assume: ${{ secrets.AWS_ROLE }}     #     role-session-name: GitHubReleasePlan

      # -ame: Terraform Plan
      #   id: tf_plan
      #   working-directory: utils/cicd
      #   run: terraform plan -out test.tfplan

      # - name: Configure Terraform Apply Credentia
      #   id: apply_creds
      #   uses: aws-actio/configure-aws-credentia@v5
      #   with:
      #     aws-region: ${{ secretsWS_REGION }}
    #     role-to-assume: ${{ secrets.AWS_ROLE }}
      #   role-session-name: GitHubReleaseApply

      # - name: rraform Apply
      #   id: tf_apply
      #   coinue-on-error: true
      #   rking-directory: utilcicd
      #   run: terraform apy -input=false test.tfplan

      # # name: Post status to Slack channel
      # #   id: tf_apply_successs
      # #   if: steps.tf_apply.outcome == 'success'
      # #   continue-on-error: true
      # #   uses: slackapi/slack-github-action@v1.26.0
      # #   with:
      # #     channel-id: ${{ secrets.SLACK_CHANNEL_ID }}
      # #     slack-message: ":badger_dance: terraform-aws-stac-server - ${{  github.ref_name }} terraform apply job has succeeded!\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
      # #   env:
      # #     SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}

      # # - name: Post status to Slack channel
      # #   id: tf_apply_failure
      # #   if: steps.tf_apply.outcome != 'success'
      # #   continue-on-error: true
      # #   uses: slackapi/slack-github-action@v1.26.0
      # #   with:
      # #     channel-id: ${{ secrets.SLACK_CHANNEL_ID }}
      # #     slack-message: ":sadpanda: terraform-aws-stac-server -${{  github.ref_name }} terraform apply has failed!\n:alert: make sure cleanup job deletes all AWS resources!\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
      # #   env:
      # #     SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}

      # - name: Configure Terraform Cleanup Check Credentials
      #   id: cleanup_check_creds
      #   if: always()
      #   uses: aws-actionconfigure-aws-credentials@v5
      #   with:
      #     awsegion: ${{ secrets.AWS_REGION }}     #     role-to-asme: ${{ secrets.AWS_ROLE }}
      #     role-session-na: GitHubReleasleanupCheck

      # - name: Terraform Destroy Pre-Check     #   id: tf_destroy_plan
      #   if: always()
      #   working-directory: utils/cicd
      #   run: terraformlan -destroy -out test-cleanup.tfplan

    # - name: Configure Terrafo Cleanup Credentials
    #   id: cleanup_creds
      #   ifalways()
      #   uses: aws-actions/configure-aws-credentials@
      #   with:
      #     aws-region: ${{ secrets.A_REGION }}
      #     rolto-assume: ${{ secretAWS_ROLE }}
      #     role-session-name: GitHubReleasleanup

#      - name: Terraform Destroy
      #   id: tf_destroy_apply     #   if: always()
      #   continue-on-error: true
    #   working-directory: utils/cicd
      #   run: rraform apply -destroy -input=fae test-cleanup.tfplan

      # - name: Post statuso Slack channel
      # #   id: _destroy_apply_successs
      # #   ifsteps.tf_destroy_apply.outcome == 'success'
      # #   continue-on-error: true
      # #   uses: slackapi/slack-github-action@v1.26.0
      # #   with:
      # #     channel-id: ${{ secrets.SLACK_CHANNEL_ID }}
      # #     slack-message: ":badger_dance: terraform-aws-stac-server - ${{  github.ref_name }} cleanup job has succeeded!\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
      # #   env:
      # #     SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}

      # # - name: Post status to Slack channel
      # #   id: tf_destroy_apply_failure
      # #   if: steps.tf_destroy_apply.outcome != 'success'
      # #   continue-on-error: true
      # #   uses: slackapi/slack-github-action@v1.26.0
      # #   with:
      # #     channel-id: ${{ secrets.SLACK_CHANNEL_ID }}
      # #     slack-message: ":sadpanda: terraform-aws-stac-server -${{  github.ref_name }} cleanup job has failed!\n:alert: make sure AWS resources are deleted!\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
      # #   env:
      # #     SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
